{% assign path = include.folder %}

{% if page.name == "README.md" %}
    {% assign path = "/" %}
    {% assign name = "d'accueil" %}
{% elsif path == "/contenu/prototypes/" %}
    {% assign name = "Prototypes" %}
{% elsif path == "/contenu/technique/" %}
    {% assign name = "Technique" %}
{% elsif path == "/contenu/ecriture/" %}
    {% assign name = "Écriture" %}
{% else %}
    {% assign path = "/" %}
    {% assign name = "d'accueil" %}
{% endif %}

{% unless include.folder == "/" %}
    <a class="back" href="{{path}}">Retour à la page {{name}}</a>
{% endunless %}
