:root{
  --BLK: #272744;
  --DGR: #494d7e ;
  --LGR: #f2d3ab ;
  --WHT: #fbf5ef ;
  /* https://lospec.com/palette-list/oil-6 */
}

.github-pages-ignore {
 display:none;
}

body {
 font-family: 'Linux Libertine';
 font-size:12pt;
 background:var(--BLK);
 color:var(--WHT);

}

#main,
nav a{
 background:var(--WHT);
 color:var(--BLK);

 margin:5px;
 padding:5px;
}

header,
#main
{
 margin:50px;
 margin-left:auto;
 margin-right:auto;
 max-width:900px;
 padding:30px
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Linux Libertine Capitals';

 margin:40px 0px 0;
 color:var(--DGR);
}

header {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

header a {
 text-decoration:none;
 margin:5px;
 display:block

}
header nav a:hover {
 background:var(--LGR);
}
nav {
 margin-top:10px;
 display:flex;
 flex-wrap:wrap;
 justify-content:right;
}

a,
a:visited {
 color:inherit;
}
a:hover {
 text-decoration:none
}

img {
 display:block;
 margin: 10px auto;
 max-width:500px;
 max-height:500px;
 max-width:90%
}



table{
  width: 100%;
  text-align: center;
}
th {
  border-bottom: 1px solid var(--BLK);
}
td {
  padding: 2px;
}
