:root{
  --BLK:  #222  ;
  --DGR: #555 ;
  --LGR:  #bbb  ;
  --WHT:#eee  ;

  /* 
    --LGR: #f2d3ab ;
  --WHT: #fbf5ef ;
https://lospec.com/palette-list/oil-6 */
}

.github-pages-ignore {
 display:none;
}


@keyframes adaptation {
  from {
    background:var(--DGR);
  }

  to {
    background:var(--BLK);
  }
}


@keyframes adaptationshadow {
  from {
 box-shadow: var(--DGR) 0 0 100px;
  }

  to {
 box-shadow: var(--DGR) 0 0 0px;
  }
}

body {
 font-family: 'Linux Libertine', serif;
 font-size:12pt;
 background:var(--BLK);
 animation-duration: 10s;
 animation-name: adaptation;
 color:var(--WHT);

}

#main{
   animation-duration: 10s;
 animation-name: adaptationshadow;
 background:var(--WHT);
 color:var(--BLK);
 margin:5px;
}

.markdown-body{
   padding: 10px 50px;

}



@media screen and (max-width: 600px) {
  .markdown-body{
    padding: 10px 10px;
  }
}

header,
#main
{
 margin-left:auto;
 margin-right:auto;
 max-width:600px;
}

#main h1,
#main h2,
#main h3,
#main h4,
#main h5,
#main h6 {

 margin:40px 0px 0;
 color:var(--DGR);
}

header {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
  align-items: end;
 margin-top:20px;
 margin-bottom:20px;

}

header h1 {
  margin:0;
   color:var(--DGR);
}
header a {
 display:block;
 color:var(--DGR);
}

header a:hover {
 display:block;
 color:var(--LGR);
       text-decoration:none;

}


header nav a,
a.back{
   background:var(--DGR);
 color:var(--WHT);
  margin:3px;
  padding: 0 5px;
}

header nav a:hover,
a.back:hover{
 background:var(--LGR);
  color:var(--DGR);
     text-decoration:none;

  
}
nav {
 display:flex;
 flex-wrap:wrap;
 justify-content:right;
}
a.back:before {
  content:"← ";
}
a.back{
  display: block;
  margin:0;
  text-align: center;
}

a {
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}


img {
 display:block;
 margin: 10px auto;
 max-width:500px;
 max-height:500px;
 max-width:90%
}



table{
  width: 100%;
  text-align: center;
}
th {
  border-bottom: 1px solid var(--BLK);
}
td {
  padding: 2px;
}




.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}


.image-gallery a {
  width:30%;
  margin-bottom: 10px;
}

.image-gallery a.image-thumb {
  background: white;
}

@media screen and (max-width: 600px) {
.image-gallery a {
  width:80%;
}

}

.image-gallery img {
      max-height: 200px;

}

.image-gallery a span {
font-size: small;
  display: block;
  word-wrap: break-word;
  margin:5px;
} 



footer {
  margin:12px;
}

footer * {
  font-size: small;
  color: var(--DGR)
}

footer p {
  margin: 0;
  margin-top:3px;
  text-align: center;
}


.scenario{
  font-family: 'Tt-Kp', monospace;
  
}

.scenario * {
  font-size :12pt;
  font-style: normal;
}

.scenario p {
  margin-left: 40px;
}


.scenario em {
  display: block;
  margin-left: -40px;
}

.scenario strong {
  display: block;
  text-align: center;
}

.scenario h1,
.scenario h2,
.scenario h3,
.scenario h4 {
  text-transform: uppercase;
}




